@using ff.mealbooking.app.ViewModels;
@model IList<DemandOrderViewModel>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><strong>Người đặt</strong></td>
                    <td><strong>Món</strong></td>
                    <td><strong>Số lượng</strong></td>
                    <td><strong>Ghi chú</strong></td>
                    <td><strong>Giá tiền</strong></td>
                    <td><strong>Phải trả</strong></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                <tr>
                    <td>@Html.Raw(order.CustomerName)</td>
                    <td>@Html.Raw(order.DishName)</td>
                    <td>@Html.Raw(order.Quantity)</td>
                    <td>@Html.Raw(order.Notes)</td>
                    <td>@Html.Raw(order.Price.ToString("##,# đ"))</td>
                    <td>@Html.Raw(order.Cost.ToString("##,# đ"))</td>
                </tr>
                }
                <tr>
                    <td colspan="5"><strong>Tổng cộng</strong></td>
                    <td>@Html.Raw(Model.Sum(m => m.Cost).ToString("##,# đ"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>